.DS_Store
node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/*.json
/public/build
/public/_worker.js
/public/_worker.js.map
/public/metafile.js.json
/public/metafile.server.json
.dev.vars

.vscode
.wrangler
